@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fs-xl: 1.875rem;
  --fs-lg: 1.375rem;
  --fs-md: 0.938rem;

  --fw-bold: 600;
  --fw-regular: 400;
  --fw-light: 200;

  --fs-heading-1: var(--fs-xl);
  --fs-heading-2: var(--fs-lg);
  --fs-body: var(--fs-md);

  --clr-card-accent-1: hsl(180, 62%, 55%);
  --clr-card-accent-2: hsl(0, 78%, 62%);
  --clr-card-accent-3: hsl(34, 97%, 64%);
  --clr-card-accent-4: hsl(212, 86%, 64%);

  --clr-text-headings: hsl(234, 12%, 34%);
  --clr-text-body: hsl(229, 6%, 66%);
  --clr-bg-primary: hsl(0, 0%, 98%);
}

h1 {
  font-weight: var(--fw-light);
  font-size: var(--fs-heading-1);
  color: var(--clr-text-headings);
}
h1 span {
  font-weight: var(--fw-bold);
}
h2 {
  font-size: var(--fs-heading-2);
  color: var(--clr-text-headings);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-body);
  display: grid;
  place-content: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: 4rem;
  margin: 2rem 9rem;
}

.text-container {
  grid-area: 1 / 1 / 1 / span 3;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  max-width: 50ch;
}

.card {
  grid-area: 2 / 1 / 2 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
}
.card__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 25px -10px var(--clr-text-headings);
}

.card__section--supervisor {
  grid-row: 2 / span 2;
  border-top: 0.5rem solid var(--clr-card-accent-1);
}
.card__section--team {
  grid-row: 1 / span 2;
  border-top: 0.5rem solid var(--clr-card-accent-2);
}
.card__section--karma {
  grid-row: 3 / 5;
  border-top: 0.5rem solid var(--clr-card-accent-3);
}
.card__section--calculator {
  grid-column: 3;
  grid-row: 2 / span 2;
  border-top: 0.5rem solid var(--clr-card-accent-4);
}
.card__section img {
  width: 4rem;
  height: 4rem;
  margin: 1.5rem 0 0 auto;
}

@media (max-width: 70rem) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
  .card__section--supervisor {
    grid-row: 1;
    border-top: 0.5rem solid var(--clr-card-accent-1);
  }
  .card__section--team {
    grid-column: 1;
    grid-row: 2;
    border-top: 0.5rem solid var(--clr-card-accent-2);
  }
  .card__section--karma {
    grid-row: 1;
    border-top: 0.5rem solid var(--clr-card-accent-3);
  }
  .card__section--calculator {
    grid-column: 2;
    grid-row: 2;
    border-top: 0.5rem solid var(--clr-card-accent-4);
  }
}

@media (max-width: 48rem) {
  main {
    margin: 2rem 2rem;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
}

/* utility classes */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.g-1 {
  gap: 1.5rem;
}
